.button-item {
    display: inline-block;

}
.button-item > button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#fff;
    text-decoration: none;
   
    padding: 8px 18px;
    background-color: #E7AE46;
    border:none; 
}
.button-item > button:hover{
    background-color: #ebbe6a;
}