* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.background-img {
  background-image: url("../../images/house21.jpg");
width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
}
.logo-item{
    margin-top:18vh;
    padding: 10px;
}
.button-item{
    margin-bottom: 10px;
}

.container-menu>li{
  padding-top: 40px;
}


@media screen and (min-width: 800px) {
  .background-img {
    height: 80vh;
  }
}
