.reservation-page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
.reservation-panel {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
  border: 1px solid black;
  min-width: 28vw;
  background-color: #fff;
  margin: 70px;
}

.background-image {
  background-image: url("../../images/paprotka.jpg");
  background-position: center;
  background-size: 90vw 80vh;
  background-repeat: no-repeat;
  padding: 30px 290px;

  justify-content: center;
  display: flex;
}
div.number-selector {
  width: 40%;
  margin: 0 20px;
}

div.reset-margin {
  margin: 0 20px;
}
div.text-field {
  margin: 0 20px;
}
.date-picker-container {
  display: flex;
}
.reservation-panel-button {
  margin-top: 20px;
  align-self: center;
}
.reserve-text {
  font-weight: 300;
  font-size: 29px;
}
.orange-line {
  background-color: #e7ae46;
  width: 100px;
  height: 2px;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 22px;
}
