.nav-item {
  list-style-type: none;
}
.nav-item > a {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  min-width: 113px;
  display: block;
  transition: 0.5s;
}

.nav-item > a:hover {
color:#e7ae46;
}


