.nav-bar-items  {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  top: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  width: 100%;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.nav-bar-items > a {
  text-decoration: none;
  padding: 26px 45px;
}




