.container-content{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 58px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;

}
.container-boxes{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    
    
}
.horizontal-line{
    position: absolute;
    background-color: #E7AE46;
    width: 100px;
    height: 2px;
    left: 50%;
    margin-left: -50px;
    border-radius: 4px;
    bottom: 30px;
}
.gallery-link{
    
}